@import url('http://fonts.cdnfonts.com/css/poppins');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  // background: linear-gradient(180deg, #FFFFFF 0%, #DFE8F3 100%);
}

body * { 
  font-family: 'Poppins', sans-serif !important;
}