.field-container.MuiBox-root {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 0.5rem;
  padding: 0.5rem;
  margin-left: 0.3rem;
}

.field-container .field-icon.MuiTypography-root {
  border-radius: 30px;
  padding: 0.7rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.field-description.MuiTypography-root {
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
}

.field-container.completed .field-icon.MuiTypography-root {
  background-color: #6ec151;
}

.completed .field-description.MuiTypography-root {
  color: #6ec151;
}

.field-container.none .field-icon.MuiTypography-root {
  background-color: #4b5265;
}

.none .field-description.MuiTypography-root {
  color: #4b5265 !important;
}

.field-container.pending .field-icon.MuiTypography-root {
  background-color: #57a1f9;
}

.pending .field-description.MuiTypography-root {
  color: #57a1f9;
}
